@charset "utf-8";
/* CSS Document */
html,body{ width:100%; height:100%;}
*{margin:0;padding:0;list-style:none;}
body { font-family:"宋体",arial,sans-serif; font-size:12px; color:#000; }
table{border-collapse:collapse;}
li{list-style-type:none;}
img{border:0;}
em{font-style:normal;}
h1,h2,h3,h4,h5,h6 { margin:0; padding:0;font-size:12px; font-weight:normal;}
.clear {height:0; overflow:hidden; clear:both; width:100%; font-size:0;}
a{text-decoration:none;}
a:hover{ text-decoration:underline; }
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
.p1{ width:960px; margin:0 auto; background:#fff url(../images/p1.jpg); height:106px; position:relative; line-height:26px; font-size:14px; padding-top:29px;  }
.p1 p{ padding-left:100px; color:#333;  }
.input-text{ width:196px; height:23px; padding-top:7px; vertical-align:middle; padding-left:4px; color:#999; font-size:14px; font-weight:bolder; background:url(../images/text1.jpg) no-repeat; border:none;}
.input-text1{ width:296px; height:23px; padding-top:7px; vertical-align:middle; padding-left:4px; color:#999; font-size:15px; font-weight:bolder; background:url(../images/text2.jpg) no-repeat; border:none; }
.p1 p a{ color:#a8e4fa; font-weight:bolder; }
.p2{ width:960px; margin:0 auto; background:#fff url(../images/p2.jpg); height:121px; position:relative; line-height:26px; font-size:14px; padding-top:; text-align:center; padding-top:20px; color:#333; position:relative;  }
.e1{ width:120px; height:40px; position:absolute;top:68px; left:146px; display:block; cursor:pointer; display:block;  }
.e2{ width:120px; height:40px; position:absolute;top:68px; left:282px; display:block; cursor:pointer; display:block;}
.e3{ width:250px; height:40px; position:absolute;top:68px; left:446px; display:block; cursor:pointer; display:block; }
.p3{ width:960px; margin:0 auto; position:relative; line-height:34px; font-size:12px; padding-top:20px; color:#666666; position:relative;background:#fff url(../images/p3.jpg) no-repeat 100% 0;  }
.p3 .cont{ background:url(../images/p4.jpg) no-repeat 100% 100%;padding-bottom:21px;  }
.p3 dl{ width:590px; margin-left:51px; }
.p3 dl dt{ font:bolder 14px ""; color:#013333 }
.p3 dl dd{ border-bottom:1px dotted #ddd;  }
.p3 dl dd b{ color:#333; font-weight:bolder;  padding-left:18px; line-height:16px; }
.p3 dl dd a{color:#ff7300}
.p3 dl dd b.mg{ display:block; margin:20px 0 10px 0 ;}
.p3 table .thead{ background:#ddd;  }
.p3 table .thead td{ border-bottom:0px;  }
.p3 table .thead td span{ display:block;  }
.p3 table .thead td span.noline{ background:none; }
.p3 table td{ text-align:center; border:1px solid #eee;  line-height:30px; }
.p3 table td.c{ background:#ddd; }
.p3 dl dd.nobd{ border-bottom:0px; }
.wrap{ background:url(../images/body.jpg) repeat-x 0 100%; padding-bottom:16px;  }
.footer{ margin:0px auto 0; padding:10px 0; line-height:26px; border-top:1px solid #808080; text-align:center; font-family:arial,sans-serif;}
.footer a{ color:#333;}
.footer a:hover{ text-decoration:underline;}

